@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
@import url('./style/var.css');
@import url('./style/header.css');
@import url('./style/headline.css');
@import url('./style/schedule.css');
@import url('./style/invitees.css');
@import url('./style/logos.css');

html {
  background-color: #f7f7f7;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--main-bg-color);
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

.sm-text {
  font-size: 0.5rem;
}

.md-text {
  font-size: 0.7rem;
}

.lg.text {
  font-size: 1rem;
}

.xl-text {
  font-size: 1.5rem;
}

.xxl-text {
  font-size: 2rem;
}

.xxxl-text {
  font-size: 2.7rem;
}

.main-color {
  color: var(--main-color);
}

.main-bg-color {
  color: var(--main-bg-color);
}

.red-text {
  color: var(--main-second-color);
}

.white-text {
  color: #f7f7f7;
}

.bold-text {
  font-weight: 900;
}

.med-text {
  font-weight: 700;
}

.no-underline {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.p-1 {
  padding: 2.5vw;
}

.mg-1 {
  margin: 1vw;
}

.mg-r-1 {
  margin-right: 1vw;
}

.mg-l-1 {
  margin-left: 1vw;
}

.mg-t-1 {
  margin-top: 1vw;
}

.mg-b-1 {
  margin-bottom: 1vw;
}

.w-100 {
  width: 100%;
}

.white-border {
  border: white solid 3px;
}

.gray-border {
  border: #d3d3d3 solid 3px;
}

.border-radius-1 {
  border-radius: 0.5rem;
}

span {
  display: block;
  margin: 1vw;
}

.dp-flex {
  display: flex;
}

.dp-none {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-1 {
  gap: 3vw;
}

@media screen and (max-width: 768px) {
  .m-dp-block {
    display: block;
  }

  .m-flex-row {
    flex-direction: row;
  }

  .m-flex-col {
    flex-direction: column;
  }

  .m-mg-1 {
    margin: 1vw;
  }
}
