@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
@import url('./style/var.css');
@import url('./style/header.css');
@import url('./style/headline.css');
@import url('./style/schedule.css');
@import url('./style/logos.css');

html {
  background-color: #f7f7f7;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--main-bg-color);
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

.xl-text {
  font-size: 1.5rem;
}

.xxl-text {
  font-size: 2rem;
}

.xxxl-text {
  font-size: 2.7rem;
}

.red-text {
  color: var(--main-second-color);
}

.white-text {
  color: #f7f7f7;
}

.bold-text {
  font-weight: 900;
}

.med-text {
  font-weight: 700;
}

.p-1 {
  padding: 2.5vw;
}

.white-border {
  border: white solid 3px;
}

span {
  display: block;
  margin: 1vw;
}

.dp-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-1 {
  gap: 3vw;
}

@media screen and (max-width: 768px) {
  .m-flex-row {
    flex-direction: row;
  }

  .m-flex-col {
    flex-direction: column;
  }

  .m-mg-1 {
    margin: 1vw;
  }
}
