.logo1 {
  width: 58px;
  height: 19px;
}

.logo2 {
  width: 77px;
  height: 19px;
}

.logo3 {
  width: 103px;
  margin-left: 25px;
  height: 25px;
}

.logo4 {
  width: 130px;
  height: 26px;
}

.logo5 {
  width: 50px;
  height: 25px;
}

.logo6 {
  width: 64px;
  height: 19px;
}
